[2017-12-10 12:07] arantes555 opened #1 "Send ebook to email"
Feature request : if you could add the ability to send an ebook to a certain email adress, it could be awesome (kindle e-readers have a device email adresse to which you can send stuff)

[2017-12-11 06:25] mysticmode commented on #1
the whole point of doing LibreRead for me is to motivate people to move towards self-hosted applications. I wouldn't put any option that directly sends a book to their kindle devices. Nevertheless there is still an option for downloading the book in the interface which you could use in Kindle.

[2017-12-11 16:00] laBecasse opened #2 "Conflict with key shortcut and annotation edition"
Hello,
There is a conflict when we edit an annotation and we use the arrow keys, it turns the page for epub books, but we expect to move the cursor in the annotation text.

[2017-12-11 18:23] jamesscottbrown opened #3 "Broken cover images in collection view"
When viewing details of a collection (e.g. [this page on the demo site](https://demo.libreread.org/collection/12)), the images of book covers do not appear.

This is because the ``src`` attribute of the ``img`` tag includes a spurious backslash, so that it is set to something like ``"//cover/file-name.png"`` rather than ``"/cover/file-name.png"``

[2017-12-12 02:53] gbraad opened #4 "Use a dependency manager"
... such as `godep`

[2017-12-12 03:01] gbraad opened #5 "Add development instructions"
Add the moment, no instructions are given for the development process. This makes the use/development limited to those that have a good understanding of Golang.

[2017-12-12 03:01] gbraad commented on #5
Start of with detailing the way to get dependencies
[code]

[2017-12-12 03:12] gbraad opened #6 "Go get fails with a redeclaration error"
[code]

Fails with:

    # github.com/LibreRead/server
    ./server.go:63: main redeclared in this block
           previous declaration at ./quote.go:26

Haven't looked further, but this is likely as part of a testing strategy to test quote in isolation, but why not make `cmd/quote/main.go` and `cmd/server/main.go` to handle using the rest as a library.

[2017-12-12 03:14] gbraad opened #7 "Add a way to override the port to run on"
[code]

[2017-12-12 03:57] mysticmode commented on #5
Sure, I'll add the dev documentation in the coming days. I'll close this issue once this is done. Thank you!

[2017-12-12 04:04] #6 closed

[2017-12-12 05:40] gbraad commented on #5
or a `Makefile` ?

[2017-12-13 09:24] #7 closed

[2017-12-13 19:40] denysvitali opened #11 "Add Dockerfile"
Currently there is no documentation on how to build, run and manage the server.
[I've made a quick Dockerfile](https://github.com/denysvitali/docker-libreread) as a PoC. Hopefully I'll find the time to improve it. Currently no volumes are mounted whatsoever, therefore the container doesn't maintain any uploaded file if it's restarted. It is a good development / test / demo container though.

[2017-12-13 20:12] mysticmode commented on #11
@denysvitali could you fix the link?

[2017-12-14 07:10] denysvitali commented on #11
LOL, sorry. I've linked this project instead. Now the link is fixed.

[2017-12-16 21:28] denysvitali commented on #11
Sure thing!

[2017-12-16 21:28] #11 closed

[2017-12-17 20:05] kpcyrd opened #12 "Make redis address configurable"
Redis is currently hardcoded to `localhost:6379`. This should be configurable based on an environment variable (that can default to `localhost:6379`).

[2017-12-17 20:09] kpcyrd opened #13 "Ensure upload folders exists"
I ran into a problem with uploads not being saved correctly. It seems the folders `./uploads/` and `./uploads/img/` are expected to exist, but aren't created by the application when they don't. The application could try to create those folders if they don't exist yet before writing uploads. The upload was considered successful regardless, this could be improved by an upload error.

[2017-12-17 20:14] mysticmode commented on #12
https://github.com/LibreRead/server/blob/3a0d8cdd4f37f8d2515ec3e1ad09694ccf29db61/server.go#L63
https://github.com/LibreRead/server/blob/3a0d8cdd4f37f8d2515ec3e1ad09694ccf29db61/server.go#L192-L201

is this fine?

[2017-12-17 20:16] mysticmode commented on #13
Ah, this is an issue. yes, Thank you.

I have created this for install but forgot to do for the development environment.
https://github.com/LibreRead/install/tree/master/uploads/img

I'll fix this now.

[2017-12-17 20:20] kpcyrd commented on #12
Something like this might be useful for other things that have defaults but might be configurable :)

[code]
https://stackoverflow.com/a/40326580

Your code should work fine for my usecase though!

[2017-12-17 20:39] kpcyrd commented on #12
Fixed in 7823e4af7012b978a1f71ffa43d3939bcaef4a6c

[2017-12-17 20:39] #12 closed

[2017-12-17 20:46] mysticmode commented on #13
Hey, Could you check this?
https://github.com/LibreRead/server/blob/f9874dac236b7a1a528249c24523c0788d52c920/server.go#L199-L203

[2017-12-17 20:47] mysticmode commented on #12
I have changed it here
https://github.com/LibreRead/server/blob/f9874dac236b7a1a528249c24523c0788d52c920/server.go#L194
https://github.com/LibreRead/server/blob/f9874dac236b7a1a528249c24523c0788d52c920/server.go#L263-L268

[2017-12-17 20:49] mysticmode commented on #12
That function needs to updated on all the places where we use Env variables. I will do this tomorow.

Thanks for this good suggestion :)

[2017-12-17 20:56] kpcyrd commented on #13
I'd prefer if the permissions for that folder are 0755 instead of 0777, which would make that folder world-writable.

[2017-12-17 21:01] mysticmode commented on #13
Done
https://github.com/LibreRead/server/blob/1a8049680d55aa88ac120dabd573813f341b2b86/server.go#L202

[2017-12-17 21:07] mysticmode commented on #13
@kpcyrd is it possible for you come to Discord?. Need to chat with you for few minutes :)

https://discord.gg/wHCM7DZ

[2017-12-17 21:10] kpcyrd opened #14 "Security: Authentication bypass"
During my work on #10 I've noticed that I'm always logged in even though the user database is not persistent between container restarts yet.

I suspected there's some signature magic going wrong, I've confirmed this by bypassing the authentication on <https://demo.libreread.org/> by executing this javascript using the developer tools:

[code]

I could trace this bug to this code that uses a fixed

[2017-12-17 21:52] #13 closed

[2017-12-17 23:12] kpcyrd commented on #3
I think all remaining cover image paths have been fixed in 0a68c502d4537d1ca9c0b6007321a0e49753edd2.

[2017-12-17 23:12] #3 closed

[2017-12-18 02:14] kpcyrd opened #15 "Create cli subcommand to create users"
I think it would be useful to have a dedicated subcommand that is used to manage the instance with scripts. The command I'm specifically interested right now could look like:

[code]

This command would
- create a user with that password hash
- or update the password hash of that user if it already exists

You could make the last argument optional, which would prompt for a password in interactive

[2017-12-18 02:16] kpcyrd opened #16 "Allow disabling signup"
As a followup for #15 it would make sense to have an environment variable to disable signup. That would allow running private/moderated libreread instances without public registration.

[2017-12-18 08:08] mysticmode commented on #15
I mentioned about this here https://github.com/LibreRead/server/issues/16#issuecomment-352353288

[2017-12-18 08:10] mysticmode commented on #14
I'll look into this coming thursday (I'll be back home).

@gbraad Is it possible for you to fix this?

[2017-12-19 07:33] gbraad commented on #15
I would also suggest to split/refactor some of the `server.go` first to make this easier and more organized

[2017-12-19 08:17] gbraad opened #18 "Refactor server code into separate logic"
eg. Users, Books, etc

[2017-12-20 02:23] spaghetti2514 opened #19 "Import from Calibre Library"
I would love to use this over Calibre for hosting my personal library, but my library contains thousands of books and it seems like it would be a huge pain to add them individually to LibreRead. Being able to import my library in one fell swoop would make switching feasible.

[2017-12-20 04:23] mysticmode commented on #19
Hey @spaghetti2514 Thanks for asking. Currently there is no calibre integration. But we will be working on this soon as many people are asking for this.

But you can click upload and pass all your books at one time. you don't need to add it individually. Multiple books upload is there now.

I will work on calibre integration and close this issue myself. Thank you.

[2017-12-20 04:56] mysticmode opened #20 "Merge install and server repo into one as LibreRead"
cc @gbraad @kpcyrd

As we merged this pull request https://github.com/LibreRead/server/pull/10

Can we start working on merging the repos into one as LibreRead?. We need to properly provide documentation for both the end user and the developer.

I think, this issue is a priority for us than anything else we have now.

[2017-12-20 06:59] gbraad commented on #20
Plan

  * [ ] consolidate Elastic Search Dockerfile
    https://github.com/LibreRead/install/blob/2dde6c3ae0d7bfa195eb5dd8a479a383a8e1472f/Dockerfile
  * [ ] automate installation of service files
    (tip: avoid using an executable... shell-scripts work well enough)
  * [ ] move to using a basic `Makefile`
    * [ ] `make docker` ?
    * [ ] `make install` ?
  * [ ] update `compose.yml` to handle

[2017-12-20 09:45] muhahacz opened #21 "musl vs glibc?"
Hello, thanks for a great piece of software.
I have question ..
Server binary from https://github.com/LibreRead/install/blob/master/server is compiled agains glibc? Because i can not get it work in alpine, but it works after i add glibc package.  ( https://github.com/sgerrand/alpine-pkg-glibc )
Thanks

[2017-12-20 11:55] kpcyrd commented on #21
[code]
The precompiled binary is indeed linked against glibc. The [docker image][0] is using musl just fine though, so I would recommend building from source.

[0]: https://github.com/LibreRead/server/blob/master/Dockerfile

[2017-12-20 13:59] muhahacz opened #22 "cmd/server folder is missing in tarballs"
cmd/server folder is missing in tarballs. I am unable to compile server from https://github.com/LibreRead/server/archive/v1.0.0.tar.gz

[2017-12-20 14:26] kpcyrd commented on #22
cmd/server was very recently introduced after 1.0.0, the file you're looking for is `server.go` directly in the project root. :)

[2017-12-20 15:15] muhahacz commented on #22
I see. Seems there is an error.. See log.

`
FROM golang:alpine as builder
RUN apk add --no-cache musl-dev gcc git curl
RUN mkdir -p /go/src/github.com/LibreRead/server  && curl -sSL https://github.com/LibreRead/server/archive/v1.0.0.tar.gz | tar xz -C /go/src/github.com/LibreRead/server --strip-components=1
WORKDIR /go/src/github.com/LibreRead/server
RUN go-wrapper download
RUN go-wrapper install

[2017-12-21 03:19] #21 closed

[2017-12-21 09:19] mysticmode commented on #22
Hey @muhahacz Sorry for that.

I just created a new release here https://github.com/LibreRead/server/releases/tag/v1.1.0

Quotation code is removed from this repo and we placed it in a separate repo. The release you are pulling is the older one. And that is the issue you are having now.

Could you pull from the lastest release I mentioned above? Thanks.

[2017-12-21 09:32] mysticmode commented on #20
I have some questions.

**1st. Consolidate Elasticsearch Dockerfile**
I think we should completely separate elasticsearch setup script from the default setup script. It is an optional thing. More than 95% of the users wouldn't use ES full-text search.

**2nd. automate installation of service files**
**(tip: avoid using an executable... shell-scripts work well enough)**
I'm not clear here. When you

[2017-12-21 09:35] mysticmode commented on #20
We should use the same docker setup for production. Just with a simple change here https://github.com/LibreRead/server/blob/99870a47abe6b830f8a2bedd39e4c1e1b5ea278b/Dockerfile#L4

Instead of that. We should pull from the github release.

[2017-12-21 09:47] gbraad commented on #20
You use go-compiled binaries to setup systemd service units. This feels
overly complicated to do

a Makefile triggers a build, even done in a Dockerfile or not, it is the
common way among go-based projects

[2017-12-21 10:30] mysticmode opened #23 "Make upload path directory in Dockerfile"
Currently, we are creating uploads directory in the server code. We should create this in the Dockerfile so that it persists across new updates.

https://github.com/LibreRead/server/blob/99870a47abe6b830f8a2bedd39e4c1e1b5ea278b/server.go#L221-L225

[2017-12-21 11:46] mysticmode commented on #5
#20

[2017-12-21 12:34] mysticmode commented on #20
I get that. I'm currently checking gogs.io Makefile as a sample.
https://github.com/gogits/gogs/blob/master/Makefile

[2017-12-21 13:47] gbraad commented on #20
Some short examples:

  https://github.com/praveenkumar/machine-kvm2-driver/blob/master/Makefile
(minimal and clean)
  https://github.com/gbraad/go-hvkvp/blob/master/Makefile (runs builds
based on the Dockerfile specified)

[2017-12-21 13:55] mysticmode commented on #20
@gbraad Thank you. I'll check that too.

[2017-12-21 15:36] kpcyrd commented on #20
I would recommend to keep the `COPY` since this allows you to select the code (master, a pull request, the last release or a fork) and build an image based on that. By default, if somebody clones the repo, they are on the latest master and their image is going to be based on that. :)

[2017-12-22 09:02] #22 closed

[2017-12-22 09:03] #23 closed

[2017-12-22 16:01] kpcyrd commented on #20
@gbraad I thought about this for a while and I think writing a Makefile is going to be complicated:

Basically, we can't assume the user configured their `$GOPATH` and even if they did, `./cmd/libreread` imports `"github.com/LibreRead/LibreRead"` which would re-download and build git master into the gopath by default, even when building a release.

The only solution I came up with (without vendori

[2017-12-23 06:21] mysticmode commented on #20
@kpcyrd @gbraad
I would say, it's fine using go compiled binaries for automating the setup in production. We can create Makefile for development purposes. I just checked [gogs](https://gogs.io/docs/installation/install_from_binary) and they are doing the same.

But one thing is that they don't have systemd setup in the script which they left for the user to decide. I have the systemd setup [here](

[2017-12-23 06:38] mysticmode commented on #20
Gogs has a systemd script [here](https://github.com/gogits/gogs/blob/master/scripts/systemd/gogs.service)

But I don't see, they are using this script in the setup.

[2017-12-23 06:39] gbraad commented on #20
I just wonder... Why would you complicate a simple process of placing a
text-based service file in the right location. I wonder what the binary
does better... it is a single time use, single purpose executable. This
sounds like something that would happen from a install script, either from
a install package or just a shell script. It also complicates the way to
modify settings beforehand, unless y

[2017-12-23 06:47] mysticmode commented on #20
Ok, Let's keep systemd service setup aside.. I think we should provide a documentation on that instead of automating that with the binary. We cannot assume that the user is going to install only LibreRead on the server (they might have many things on the server already).

For production, Makefile or not.. I wish the user should get it ready in a single command. As we have Docker setup already.. th

[2017-12-23 07:12] gbraad commented on #20
Makefile is for the development side of stuff... not the installation maybe.
It is great we can run the build from Docker, but for sake of ensuring the
compile works, we should always be able to target a local environment too.

So, let's go back to the install steps... what do you envision?

On Sat, Dec 23, 2017 at 2:47 PM, Nirmal Almara <notifications@github.com>
wrote:

--

   Gerard Braad | htt

[2017-12-23 08:29] mysticmode commented on #20
Well, I would say something like this.

### Step 1:
 - `./libreread.sh` for new installation without elasticsearch.
 - `./libreread.sh -i elasticsearch` for new installation with elasticsearch.
 - `./libreread.sh upgrade` for upgrading to newer versions.

This commands can be changed according to best practices. The complicated part would be the upgrade. LibreRead always should do rolling releases

[2017-12-23 08:35] mysticmode commented on #20
@gbraad @kpcyrd We need to come to the conclusion on production setup quickly. I would like to know what do you think about the steps mentioned above.

LibreRead will send email notification on 16th of every month. We need to show some updates to the subscribers.

Fix deadline:
 - Finalise the production setup and provide documentation on docs/INSTALL.md.
 - Finalise the development setup and prov

[2017-12-25 15:52] #20 closed

[2017-12-25 15:57] mysticmode commented on #14
@gbraad Any ideas on how to fix this? Me have no idea.

[2017-12-25 15:59] mysticmode commented on #4
Let's add this for development setup.

[2017-12-26 14:23] mysticmode commented on #5
I made a pull request on this https://github.com/LibreRead/LibreRead/pull/26

[2017-12-26 14:40] traskat opened #27 "Maybe nextcloud/owncloud as storage for books per user"
hey,

maybe it could be possible to add nextcloud/owncloud as a storage for users. would be a nice feature.

[2017-12-26 14:42] mysticmode commented on #27
I'm actually going to work on syncing books from the remote filesystem (like a media server in your computer, NAS etc,.)

I will see if I can able to do Nextcloud integration too :)

[2017-12-26 14:44] mysticmode opened #28 "Sync from remote filesystem"
Like a media server in your computer, NAS etc,. which syncs to the LibreRead server.

[2017-12-26 14:50] mysticmode opened #29 "LDAP authentication"
Add LDAP authentication when doing multi-user support.

[2017-12-26 14:54] mysticmode opened #30 "Multi-user support"
Add multi-user support
 - Keep a book public
 - Keep a book private
 - Keep a book viewable to only specific users
 - Set storage limit settings for admin to setup limit of storage allowed for other users.

[2017-12-27 07:17] mysticmode opened #31 "Set env for upload path"
This is quite complicated, I have hardcoded the `./uploads` path in many places in the source code. We need to setup env for uploads path.

This would be helpful for porting this app to Cloudron, Sandstorm, Yunohost etc,.

[2017-12-28 21:37] jw6jw6jw6 opened #33 "If docker compose fails it still sets up the systemctl stuff"
Add verification that docker-compose succeeds and doesn't fail in the install.sh script.

[2017-12-29 00:30] kpcyrd commented on #33
I think the first line in that script should be
[code]

[2017-12-29 18:08] kpcyrd commented on #33
I think this has been fixed in 32218f5fb3e7ed453fad6d67fd84f5eb8a94659c. Please reopen the issue if needed.

[2017-12-29 18:08] #33 closed

[2017-12-29 18:11] kpcyrd commented on #16
It seems there's currently no way to prevent people to signup to my private libreread instance. I do not want to share my library, so a config to disable signup is needed. :)

[2017-12-30 13:15] mysticmode commented on #16
I'm not sure, I understand this. Currently, LibreRead is a single user product. Only one user can signup. If you signup on your instance, the signup will be disabled. Did you check that?

Also, even if we are going to work on Mult-user support, only one user can signup directly through the interface. The rest of the users will be coming through invitations from the super user.

[2017-12-30 13:17] mysticmode commented on #15
This seems likes a good one, but I don't see any use-case for this. Could you tell me some use-cases where this commands will be useful?

[2017-12-30 13:18] #5 closed

[2017-12-30 13:19] mysticmode commented on #2
Thanks for this!, I'll be fixing this sooner. I'll make a pull request, fix this and close it myself.

[2017-12-30 13:21] mysticmode commented on #31
I had find a way to symlink `./uploads` directory for cloudron on to the `/app/data` directory which will be persisted. So this won't be needed for now.

We can re-open this issue, when we see a use-case for this.

[2017-12-30 13:21] #31 closed

[2018-01-05 06:22] newbalancesh opened #34 "How to install on bodhi linux"
i'm on step 2, i cannot make directory in VAR.
any solution?

[2018-01-05 07:21] mysticmode commented on #34
You could instead put it in the home directory and change [this line](https://github.com/LibreRead/server/blob/2ebeae2570b29f6a3761c8b1be7a4b4708fe2422/install.sh#L75) to `/home/<user>` (replace user with your user name) and run the script. It should work.

[2018-01-05 07:32] mysticmode commented on #34
@newbalancesh You could come to the chat if you have any problems with the `install` script. I could be able to understand it quickly and suggest a solution.

https://chat.libreread.org

[2018-01-08 14:18] yotamN opened #35 "Docker image"
I think a docker image will be great to deploy the server, since it's go I think it's supposed to be easy

[2018-01-08 14:21] #35 closed

[2018-01-17 20:39] itsmehemant123 commented on #27
Nextcloud + libreread would be super useful!

[2018-01-20 00:25] bbb1991 opened #36 "Change installation script to call docker compose without absolute path"
Hello!
I am using Archlinux, after installing systemd service not starting:
`Jan 20 00:08:55 archlinux systemd[20977]: libreread.service: Failed to execute command: No such file or directory`
`Jan 20 00:08:55 archlinux systemd[20977]: libreread.service: Failed at step EXEC spawning /usr/local/bin/docker-compose: No such file or directory`
Because `docker-compose` executable file located in another

[2018-01-20 01:34] kpcyrd commented on #36
hey @bbb1991. This is sort of difficult because systemd only supports absolut paths. Possible workarounds I'm aware of:

- Provide a separate unit for archlinux and other distro that use `/usr/bin/docker-compose`.
- Execute `/bin/sh` which is able to resolve the location using `$PATH`. (the sh process would be replaced using `exec`).
- Provide a AUR build specifically for archlinux which tries to

[2018-01-20 08:33] mysticmode commented on #36
@kpcyrd @bbb1991 I would go with third option.

We need to provide a manual installation documentation which doesn't require docker as I can see quite a few people are asking me for this.

[2018-01-23 17:09] seanvree opened #37 "So....only on docker?!"
Am I reading this right that this is ONLY available on docker?

If so, how was the image originally built?

[2018-01-23 18:16] kpcyrd commented on #37
The binary is built [here](https://github.com/LibreRead/server/blob/master/Dockerfile#L18-L23) and also explicitly documented [here](https://github.com/LibreRead/server#development-setup). Docker is the recommended deployment for the time being but you can also just compile from source.

[2018-01-23 20:12] #37 closed

[2018-01-25 12:02] bbb1991 opened #38 "Error when using password with with special symbol in installing"
[code]

[2018-01-25 13:00] kpcyrd commented on #38
I think this might be due to the way the password is written to the env file, as $ and # have a special meaning:

https://github.com/LibreRead/server/blob/2ebeae2570b29f6a3761c8b1be7a4b4708fe2422/install.sh#L39-L43

You could try to edit your .env file manually and properly escape those characters with backslashes. Also note that backslashes would cause issues, `read -r` needs to be used to resolv

[2018-02-08 12:35] fictionalname opened #40 "Point to File Repository?"
Hello,

I found my way here from your post in Reddit and I'm really impressed with your software.

I currently have a directory on my Windows server where all my PDF files are stored and your software would be an excellent front end for searching and viewing the documents.  I could easily spin up a Hyper-V machine to run your app.  The documents come directly from my document scanner and are OCR'd

[2018-02-08 13:51] kpcyrd commented on #40
I think the windows share can be mounted from a linux system, so the feature that's missing is scanning a folder for new books automatically. This feature would be very nice to have indeed, similar to plex.

[2018-02-08 13:52] ocdtrekkie commented on #40
Something like this would be good for any of us with an existing ebook library probably.

[2018-02-08 16:34] mysticmode commented on #40
@fictionalname Folder sync from a remote machine probably using WebDAV is an important feature which I'm going to implement in the coming months.

I'm planning to do a cross-platform desktop app which will sync books to the cloud. This is very similar to Plex.

But I'm not sure if I can be able to solve your problem which is (If I understood correctly) using this software as a front-end which pull

[2018-02-08 22:49] fictionalname commented on #40
@all I'm glad I have suggested something useful!

@mysticmode You are more than welcome.  I'm always happy to encourage work on an excellent project such as this!  I'm actually wanting to re-purpose your awesome app as a simple document management system.  I have all my important documents scanned and OCR'd to a folder on my Windows server.  These are things like bank statements and other paper co

[2018-02-25 22:51] MagnificentPako opened #41 "/bin/sh: go-wrapper: not found"
I just tried building this but I get this error:
[code]
Any ideas?

[2018-02-26 06:38] mysticmode commented on #41
Hey @MagnificentPako Sorry for that.. go-wrapper seems to be not working for the latest docker. I have [removed the two lines that is causing this issue and updated with the traditional install.](https://github.com/LibreRead/server/blob/master/Dockerfile#L22-L23)

If you pull it again and run the ./install.sh it should work. Please let me know if you face any issues. Thanks.

[2018-02-26 15:50] MagnificentPako commented on #41
@mysticmode Thanks, works like a charm now! Btw, is it possible to make my libreread instance "invite only" or disable registrations? My intended use-case was an in-family ebook collection and it feels kinda unsafe having the sign-up available for everyone who can access the site.

[2018-02-26 16:07] mysticmode commented on #41
@MagnificentPako It is a single user application currently, Only one person can sign up and use this software. So, Once you signed up, the sign up will be disabled. I'm working on multi-user support.

BUT Wondering! is the signup page still visible after you signed up?

[2018-02-26 16:24] MagnificentPako commented on #41
@mysticmode Oh, you're right: the sign up disappears after I created my account. Looking forward to multi-user support then :)

[2018-02-26 16:28] MagnificentPako commented on #41
There's a tiny little weird thing I found though: when removing a book from the server it still appears in your `currently reading` like this https://that.procrastination.life/yI59jz5Q
Is there anything I can do to remove that?

[2018-02-27 21:48] sunjam opened #42 "Feature Request: CBR and CBZ comic book formats"
Feature request for supporting CBR and CBZ comic book formats in LibreReads.

[2018-03-02 09:25] egidijus opened #43 "How do I login?"
What is the default password/account?

[2018-03-02 09:39] mysticmode commented on #43
Please provide us more detail. Have you self-hosted LibreRead? Did you sign up? What is not working?

We are not doing support for money (at-least not now) only out of our own interest. Thanks.

[2018-03-02 10:40] mysticmode commented on #41
@MagnificentPako Sorry, that's weird indeed. I'll try to fix this soon. Tagging this as a bug.

[2018-03-02 11:42] egidijus commented on #43
I cloned the server.
Then I ```docker-compose up -d```
I see that I have a redis container, and I have a libreread container.
When I open up libreread on localhost:8080 I see a login page.

There is no documentation anywhere in this project about what the default credentials are.
I had a look in the libreread container, I could not find a configuration file.
I see that the project is using sqlite,

[2018-03-05 10:37] egidijus commented on #43
Hello,
I was able to sign in after setting the "confirmed" value to 1 in the sqlite db.
No need for domain or SMTP.
Great success!!

[2018-03-05 10:37] #43 closed

[2018-03-05 12:44] mysticmode commented on #43
Hey @egidijus Sorry! I was busy the last few days. I couldn't assist you. It's really great that you found a solution.

Also, If you Signup, you don't need the confirmation email token to sign in. You can directly enter your login credentials and it will take you to the home page. Not sure if you faced any problem here.

I have made it like that where you don't need a SMTP Email setup for onboardi

[2018-04-01 14:57] MagnificentPako opened #44 "LibeRead refused to load a .epub file"
I tried to upload an EPUB today but I got this
![](https://i.imgur.com/cyO1R5g.png)

Is this a problem with LibreRead or did I just create the epub the wrong way (I used Sigil)?

[2018-04-05 12:01] MagnificentPako commented on #44
Here's a mega link for the file I most likely used

https://mega.nz/#!UEo3XIIR!srItlParexCddekk2NljKUhKxHhhK_Qrghrlzn3yHXE

[2018-04-05 12:27] mysticmode commented on #44
To put in detail. When the regex doesn't find the `<img` tag in the file, the code breaks. I need to put a condition when the cover image is not available, it should put a default cover.

[2018-04-05 13:39] MagnificentPako commented on #44
There is no `<img>` tag for the cover? I'm pretty sure the _should_ be a cover file

[2018-04-05 16:38] mysticmode commented on #44
Yes, there is. But there is a problem in the code on how it's fetching the cover file. It's a tricky hack actually which might not work in all cases. I will fix this soon.

[2018-04-16 07:35] fictionalname opened #45 "Web Site & Demo Unavailable."
Hello,

It looks like your web site and demo site are unavailable now.

Is this intentional?  Is it an indication of bigger issues?  Is this software still being developed?

I hope everything is OK!

Thanks.

[2018-04-18 02:05] sunjam commented on #27
@rullzer and @schiessle from Nextcloud WebDAV team might be able to offer some guidance.

Also, [here is a link to current version 13 client Webdav API](https://docs.nextcloud.com/server/13/developer_manual/client_apis/WebDAV/index.html)

[2018-04-22 14:08] mysticmode opened #46 "Updates on Joyread v2"
Hi everyone!

Hope you guys are doing well. I'm slowly starting to do some work on the new brand Joyread.

I will post updates here.

Currently the backend code has no structure and I'm trying to split the logic into separate modules, so in the future, it might be useful for others who want to contribute to this project.

Things I'm going to work on for the coming 2 months:
- Overall design revisi

[2018-04-22 14:12] mysticmode commented on #46
Oh and you can see my latest work pushed to [this branch](https://github.com/joyread/server/tree/new-brand)

[2018-04-30 09:16] mysticmode commented on #46
Last weekend, I started transitioning the front-end to Reactjs. It's in the initial stages..

This week plan is to implement the Onboarding process and File upload by setting up a database that will be applicable for multi-user support.

By the way, I'm yet to finalize the features for Multi-user support. I'll post it here soon.

Just another remainder, You can check the latest work in [this branc

[2018-05-09 04:25] notsosecretspy commented on #46
THANK YOU for your amazing work on this!  Can't wait to see the improvements you're making.  This is a much needed project.

[2018-05-09 11:29] e-alfred commented on #46
Nextcloud integration sounds awesome! Maybe posting a request to help.nextcloud.com might help you with the integration process a bit? The Nextcloud devs/community are quite helpful towards new app integrations.

[2018-05-09 13:00] mysticmode commented on #46
Thank you @notsosecretspy @e-alfred !

Honestly I haven't looked at Nextcloud developer docs yet. So I will need to check that before asking for their help.

I couldn't work last week. So, this weekend I'm planning to continue my work on the on-boarding process and file upload (where Nextcloud integration happens).

I don't want to say this as a reason but this is what's happening in my life now -

[2018-05-14 16:57] mysticmode commented on #46
Thank you @notsosecretspy

@e-alfred Yup, But I'm still thinking as there are some technical difficulties on EPUB processing. There is this highlights/annotations feature. Currently, When a user comments/highlight I'm adding the comment/html element on the EPUB itself. In other words, the EPUB book will be saved with the annotations you made instead of storing the annotations in the database. This

[2018-05-20 16:10] mysticmode commented on #46
Hi,
I'm currently working on the multi-user feature. I'd like to know anyone's opinion on what would you like to see regarding social activity/notifications.

Currently I have this in mind:
 - When you upload a book, you can keep it public (for everyone to access) or private (only for you) or share with selected users.
 - You will get notification, if someone shared a book with you.
 - You will ge

[2018-05-20 16:32] ocdtrekkie commented on #46
Just some initial thoughts on a "social feed" for it:

* Are you going to let people rate/review books they read? That'd be one to show on the feed.

* I was kinda thinking you might be able to do something like show when someone's finished reading a book, but that'd be hard to determine from a PDF file, for example, without explicitly having a user mark like a "read" checkbox or something.

[2018-05-20 16:42] mysticmode commented on #46
hmm.. That's a good suggestion. But I think rating is not necessary for now. I'm thinking, we could allow user to add review for the book whenever they want.

Finished reading notification is also a good idea, but as you said, that will add one more layer of complexity.. I'll get back on this.

[2018-05-20 16:46] ocdtrekkie commented on #46
Just kinda random ideas for what I would expect a social reading experience to look like. People might want to be able to display which books they've read and which books they want to read on lists, or recommend books to others.

I _personally_ am not much of a social app user myself, I'd rather keep my eBook library all locked up on my own separate system, but if you're interested in targeting pe

[2018-05-20 17:02] ocdtrekkie commented on #46
The other sort of crazy thing you could get into, is that while sites like LibraryThing let you make a lot of social lists, reviews, etc., they don't actually host the books, so they can't share actual book content. Lot of interesting options there.

With regards to sharing books, you may wish to consider a couple modes of doing so, based on copyright limitations. Since people are self-hosting thi

[2018-05-20 17:04] ocdtrekkie commented on #46
As I said in chat, of course, these are all just ideas I can spin out on a whim as future concepts for you to think about. I encourage you to have a clear, concise roadmap of what you want to do at any given time, and not wildly expand your plans outside of that roadmap until it's done. :)

[2018-05-20 18:05] mysticmode commented on #46
I really need to think about this lending copyrighted books feature :P

But I can understand this - the user should be able to keep shared books in their own library, so if the user who uploaded the book is removed from the platform, the books will be present for those who kept it in their library. It needs more thought though as I'm still not sure about the process of deleting the user from the p

[2018-05-21 20:51] danikuci1 commented on #46
I would vote for any kind of login option that expands upon just local accounts. That's fine for single-user/admin but doing some kind of oauth and/or ldap is a huge plus in identity management for any application(s) IMHO

+1 for any kind of nextcloud integration, whether its using it as a storage target and/or an app that turns my nextcloud browser session into a full-featured reader or admin too

[2018-05-22 10:01] mysticmode commented on #46
Thanks @danikuci1 LDAP is certainly in the roadmap but it will not be there in the upcoming release as there are features that are more important than that. I will need to support Kindle and Comic book formats as this is actually much work.

Multi-user support is the long awaited feature at-least for myself and others who've tried LibreRead. I think it's a good idea to release these first then bui

[2018-05-23 04:44] mysticmode commented on #46
Nextcloud OAuth integration documentation is not there. I asked for help in the IRC, they have pointed me to this https://github.com/nextcloud/server/tree/master/apps/oauth2

Seems like I need to go through the PHP script to get an idea.

[2018-05-23 07:37] mysticmode commented on #27
Hi! I'm trying to implement NextCloud through OAuth2 into Joyread.
There is no documentation regarding OAuth2 integration other than WebDAV. I tried to ask in the IRC and someone has pointed me to https://github.com/nextcloud/server/tree/master/apps/oauth2

Should I need to go through the PHP (totally new to that) script to get an idea on how to implement?
cc @sunjam @rullzer @schiessle

Thanks

[2018-05-23 09:13] rullzer commented on #27
@mysticmode cool stuff. I would suggest you wait a bit. We improved our OAuth a lot the last few weeks. so hopefully it is easier (I have writing docs on my todo).

[2018-05-23 09:47] mysticmode commented on #27
@rullzer Awesome! Thank you. You could update me here once it is ready.. so that it will be easier for me to show the progress to the people here.

[2018-05-26 10:40] mysticmode commented on #46
Sign Up and Sign In forms are ready/working with the backend.
<img width="1394" alt="screen shot 2018-05-26 at 4 07 43 pm" src="https://user-images.githubusercontent.com/1125199/40575255-31e9b472-60ff-11e8-951b-86f080b43a28.png">
<img width="1436" alt="screen shot 2018-05-26 at 4 08 26 pm" src="https://user-images.githubusercontent.com/1125199/40575256-32259c9e-60ff-11e8-9dbe-3aece12d715d.png">

[2018-05-26 10:41] mysticmode commented on #46
I have to add frontend field validations which I will do at the last 10% of the project release phase.

I'm trying to get the major/important parts working first.

[2018-05-26 18:40] mysticmode commented on #46
This is mostly how the signup form is going to look like. It is not like LibreRead where you have to setup SMTP settings in the command line while installing the software. I'm trying to bring those up in the interface. Ideally the Joyread installation should be done in a single command like using Snap package.

<img width="635" alt="screen shot 2018-05-27 at 12 01 28 am" src="https://user-images.g

[2018-05-27 08:51] mysticmode commented on #27
I'm kinda stuck here on planning how this feature would work.

So, once the user successfully sign up, then on the next page we will show the option of Nextcloud integration as an alternative for the ebooks storage target.

But the thing is we also need to provide this option in the settings page where the user could opt out/ opt in of nextcloud integration later. Here is the problem, What should

[2018-05-28 13:31] Richard-Payne opened #47 "libreread.org is down"

[2018-05-28 13:36] Richard-Payne opened #48 "Book does not load and covers not visible"
I've added a book in both PDF and EPUB format (generated from Calibre).  In both cases the book list shows a broken image and clicking onto it fails to load the reader. The page body tag just contains `<pre></pre>`

The Docker logs contain:
[code]

[2018-05-28 14:19] mysticmode commented on #47
Hi Richard, Sorry I should have put this message in the README.

I took the website down for now. I'm working on changing the brand name and launching v2 and I don't think I can be able to provide a rolling update/migration from v1 to v2.

I will update the README with this information soon.

[2018-05-28 14:29] mysticmode commented on #48
Ok, In this case, Did you see any errors when you upload a book?

[2018-05-28 15:10] Richard-Payne commented on #48
Yes, but I didn't copy it.  I tried another book to grab the error but it worked fine.  How can I delete the original book to try re-uploading it?

[2018-05-28 15:15] Richard-Payne commented on #47
ok, so does that mean that effectively v1 will not be receiving any more updates?

Also, feature wise, how does v2 compare to v1 right now?  I understand that stability will likely be poor.

[2018-05-28 17:05] Richard-Payne commented on #47
I've cloned the v2 branch and can run up the software.  However, I'm having trouble trying to get the Delve debugger working. It keeps complaining with "Can not debug a non-main package".

I'm  new to Go and was hoping you might point me in the right direction.  It appears that your project does not name its main package as "Main".  Am I correct?  If so, is there a trick to get Delve running?  Is

[2018-05-28 17:06] Richard-Payne commented on #48
Actually, don't worry.  I'll ignore v1 and just start looking at v2, even though it's not ready yet.  The Nextcloud integration will be a big win for me.

[2018-05-28 17:18] Richard-Payne commented on #47
Nevermind, I got it.  Why hide it away in the cmd folder?

[2018-05-28 17:52] mysticmode commented on #47
It's just a convention we follow.
https://github.com/golang-standards/project-layout/blob/master/cmd/README.md

There is not much in the `new-brand` branch as of now. I'm modifying most of the codebase that we have on LibreRead. It is in the early stages!

You could watch the thread I posted above "Updates on Joyread v2" where I'll be posting about how I'm progressing with this.

[2018-06-09 17:13] e-alfred commented on #27
Would it be possible to have multiple storage backends/places at once? So that it maybe shows the storage place below the ebook selection screen for each ebook? Also, if the user opts out, then the missing ebooks should be purged from the library probably. If they are re-added, the storage place should be scanned and the new ebooks show up in the library.

[2018-06-09 17:17] rullzer commented on #27
@mysticmode https://github.com/nextcloud/documentation/pull/772 it is a WIP but the basics are there

[2018-06-10 08:50] mysticmode commented on #27
@e-alfred Yup, that's possible and it sounds like a good idea.

So you are saying, when the user opts out of Nextcloud later, then the existing ebooks that are from Nextcloud should be removed? Or we can provide this option when they opt-out of Nextcloud saying -
Do you want to remove the existing ebooks from Nextcloud

Thanks @rullzer, I'll try that and get back if I have any questions.

[2018-06-14 08:55] lukasmrtvy opened #49 "undefined: "github.com/gin-contrib/sessions".NewCookieStore"
I am getting:
[code]
in 1.2.4 version when I using go install ...

Any idea?

[2018-06-14 18:10] adamtg commented on #49
I do not know go, but this is is what i did:

- I added "github.com/gin-contrib/sessions/cookie" to the import section
- Changed the line (line 130) "sessions.NewCookieStore" with "cookie.NewStore"

hope this helps.

[2018-06-19 15:18] koenmetsu commented on #46
I just wanted to say I think it's very cool that you're providing updates here. Thumbs up!

[2018-07-07 16:32] #47 closed

[2018-07-07 16:32] #45 closed

[2018-07-07 16:33] #48 closed

[2018-07-13 04:56] Oreolek opened #51 "How to install this?"
Where's the install documentation? Your site and the chat are down, and the wiki is empty.